//----------------------------------------
//   Variables
//----------------------------------------

// 1 - Color
// 2 - Font
// 3 - Grid and wrapper
// 4 - Spacing
// 5 - Breakpoints
// 6 - Transitions

//
// 1 - Color
// ---------------------------------------

$clr-white: #fff;
$clr-black: #000;
$clr-1: #003b46; // #cyprus 
$clr-2: #07575b; // #deep-sea-green 
$clr-3: #66a5ad; // #breaker-bay 
$clr-4: #c4dfe6; // #ziggurat 
$clr-5: #e90101;

//
// 2 - Font
// ---------------------------------------

$font-base: "Roboto", Arial, Helvetica, sans-serif;
$font-alternate: Georgia, Times, "Times New Roman", serif;

$font-size-base: 14px;

$font-weight-bold: bold;
$font-weight-base: 400;
$font-weight-thin: 100;

$font-size-XXL: 40px;
$font-size-XL: 28px;
$font-size-L: 20px;
$font-size-M: 16px;
$font-size-S: 14px;
$font-size-XS: 12px;
$font-size-XXS: 10px;

$line-height-L: 1.625;
$line-height-M: 1.572;
$line-height-S: 1.25;
$line-height-XS: 1;

//
// 3 - Grid and wrapper
// ---------------------------------------

$page-min-width: 320px;
$page-max-width: 1024px;
$columns-gutter: 20px;

//
// 4 - Spacing
// ---------------------------------------

$spacer-N: 0;
$spacer-S: 10px;
$spacer-M: 20px;
$spacer-L: 40px;
$spacer-XL: 80px;

//
// 5 - Breakpoints
// ---------------------------------------

$breakpoints: (
  "xs": 0,
  "sm": 480px,
  "md": 768px,
  "lg": 980px,
  "xl": 1200px
);

//
// 6 - Transitions
// ---------------------------------------

$transition: all 0.3s ease-in-out;
