html {
  box-sizing: border-box;
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100%;
  font-family: $font-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-M;
  color: $clr-black;
  background-color: $clr-white;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: $page-min-width;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}
